@using TieuChuanWebVer4.Models;
@model IEnumerable<dm_tieuchuan>
@{
    //ViewBag.Title = "Danh mục tiêu chuẩn";
ViewBag.Title = "Standard Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<p name="DetailNotes"></p>*@
<script type="text/javascript">
    ribbon.SetActiveTabIndex(1);
    function OnGridFocusedRowChanged(s, e) {
        s.GetRowValues(s.GetFocusedRowIndex(), 'id;ma_tieuchuan;ten_tieuchuan', OnGetRowValues);
    }
    function OnGetRowValues(values) {
        txtHiddenId.SetText(values[0]);
    }
    function fncBtnThemClick() {
        //var x = document.getElementById("txtHiddenId_I").value;
        var url = '@Url.Action("ThemMoi", "DanhMucTieuChuan")';
        window.location.href = url;
       // window.open(url, "_blank", "toolbar=yes,top=10,left=150,right=150,width=970,height=670");

        //'Url.Action("ChinhSua","DanhMucTieuChuan", { new id= x } )';
        // alert(x);
    }
    function fncBtnSuaClick() {
        var x = document.getElementById("txtHiddenId_I").value;
        var url = '@Url.Action("ChinhSua", "DanhMucTieuChuan")' + '?id=' + x;
        window.location.href = url;
        //window.open(url, "_blank", "toolbar=yes,top=10,left=150,right=150,width=970,height=670");
        //'Url.Action("ChinhSua","DanhMucTieuChuan", { new id= x } )';
        // alert(x);
    }
    function fncBtnXoaClick() {
        var x = document.getElementById("txtHiddenId_I").value;
        var result = confirm("Are you sure you want to delete?");
        if (result) {
            var url = '@Url.Action("Xoa", "DanhMucTieuChuan")' + '?id=' + x;
            window.location.href = url;
            alert("Deleted Successfully!!");
        }
        else {
            return false;
        }
    }
</script>
<style>
    #txtHiddenId {
        display: none;
    }

    .cs {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        width: 700px;
        border-radius: 20px;
        border: 2px solid blue;
        margin: 0px auto;
        margin-top: 4%;
        margin-bottom: 2%;
    }

    table#DanhMucTieuChuan {
        width: 30%;
        margin: auto;
    }

    div#khung {
        margin-top: 5%;
    }
</style>

@Html.DevExpress().TextBox(settings =>
{
    settings.Name = "txtHiddenId";
    settings.ReadOnly = true;
    // settings.ClientVisible = false;
}).GetHtml()
<div id="khung">

    @Html.Action("DanhMucTieuChuanPartial")


    <div style="width:100%;text-align:center;margin-top:2%">
        @*--------------------------------------Button Thêm*@
        @Html.DevExpress().Button(settings =>
{
    settings.Name = "btnThem";
    settings.Text = "Add";
    settings.ClientSideEvents.Click = "fncBtnThemClick";
}).GetHtml()
        @*--------------------------------------Button Sửa*@
        @Html.DevExpress().Button(settings =>
{
    settings.Name = "btnSua";
    settings.Text = "Edit";
    settings.ClientSideEvents.Click = "fncBtnSuaClick";
}).GetHtml()
        @*--------------------------------------Button Xóa*@
        @Html.DevExpress().Button(settings =>
{
    settings.Name = "btnXoa";
    settings.Text = "Delete";
    settings.ClientSideEvents.Click = "fncBtnXoaClick";
}).GetHtml()
    </div>
</div>





